.builder-container-outer-wrapper {
	max-width: 960px;
	width: 960px;
}
#ie6 .builder-container-outer-wrapper,
#ie7 .builder-container-outer-wrapper,
#ie8 .builder-container-outer-wrapper {
	width: 960px;
}
#builder-module-54b944e0d40d3-outer-wrapper {
	max-width: 960px;
	width: 960px;
}
#builder-module-54b944e0d40d3 .builder-module-column-1-outer-wrapper {
	width: 960px;
}
#builder-module-54b944e0d40e0-outer-wrapper {
	max-width: 960px;
	width: 960px;
}
#builder-module-54b944e0d40e0 .builder-module-column-1-outer-wrapper {
	width: 960px;
}
#builder-module-54b944e0d40e7-outer-wrapper {
	max-width: 960px;
	width: 960px;
}
#builder-module-54b944e0d40e7 .builder-module-column-1-outer-wrapper {
	width: 960px;
}
#builder-module-54b944e0d40ed-outer-wrapper {
	max-width: 960px;
	width: 960px;
}
#builder-module-54b944e0d40ed .builder-module-column-1-outer-wrapper {
	width: 320px;
	max-width: 320px;
}
#builder-module-54b944e0d40ed .builder-module-column-2-outer-wrapper {
	width: 320px;
	max-width: 320px;
}
#builder-module-54b944e0d40ed .builder-module-column-3-outer-wrapper {
	width: 320px;
	max-width: 320px;
}
#builder-module-54b944e0d40fb-outer-wrapper {
	max-width: 960px;
	width: 960px;
}
#builder-module-54b944e0d40fb .builder-module-column-1-outer-wrapper {
	width: 960px;
}
